<div class="dark">
<div class="page-wrap">

<div class="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to image_tag("logo-darkbg.png"), root_path %>
    </div>
    <div class="login">
      <%= link_to "Login", new_user_session_path %>
    </div>
  </div>
</div>

<div class="main">
  <div class="wrapper">

    <% if params[:display] == "email" %>
    <div class="email-form">
      <h1>Complete Signup</h1>
      <h4>Enter the email you want to use to receive the articles you save in the future.</h4>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      
        <div id="email-field"> <%= f.email_field :email, :autofocus => true, :placeholder => "ENTER EMAIL" %> </div>
      
        <div id="email-button" onclick="mixpanel.track('Add Email to Account');"> <%= f.submit "Complete Signup" %> </div>
      <% end %>
    </div>
    
    <% else %>
  
      <div class="space"></div>
      <div class="half"> 
        <h1>Signup For Free</h1>
        <h4>A simple Chrome extension that makes it easy to remember the articles you want to read again.</h4>
        <div class="return"> <%= link_to "<  Return to home page", root_path %> </div>
      </div>
      <div class="half">
        <div class="twitter-button" onclick='mixpanel.track("Signup", {"provider": "Twitter"});'>
          <%= link_to user_omniauth_authorize_path(:twitter, :display => 'page') do %>
            <span class="icon"></span>
            <span class="text-on-button">
              Signup with Twitter
            </span>
          <% end %>
        </div>  
      </div>
  
    <% end %>



  </div>
</div>










<div class="mountain-block">
    
</div>

</div>

  <div class="footer">
    <div class="wrapper">

        <div class="by">
          <p class="made-by">An app by</p>
          <div class="grey-button">
            <div class="icon"></div>
            <div class="text-on-button"><%= link_to "@zachferland", "https://twitter.com/zachferland" %></div>
          </div>
          <p class="made-in"> in Trento, Italy</p>
          <div class="italian-flag">
            <div class="green part"></div>
            <div class="white part"></div>
            <div class="red part"></div>
          </div>
        </div>

    </div>
  </div>



</div>










