<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=359176614215413";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<%= javascript_tag do %>
  var id = <%= @user.id %>;
  mixpanel.identify(id);
<% end %>

<div class="dark">
<div class="intro-page">
<div class="page-wrap">

<div class="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to image_tag("logo-darkbg.png"), root_path %>
    </div>
    <div class="login">
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>

<div class="main">
  <div class="small-wrapper">

    <div class="download">
      <div class="text">


<% if @user.sign_in_count <= 1 %>

  <%= javascript_tag do %>
    var id = <%= @user.id %>;
    var email = '<%= @user.email %>';
    var name = '<%= @user.name %>';
    var image = '<%= @user.image%>';
    var twitter_handle = '<%= @user.username%>';
    mixpanel.alias(id)
    mixpanel.identify(id);
    mixpanel.people.set({
      "$email": email,
      "$name": name,
      "$image": image,
      "Twitter Handle": twitter_handle,
      "$created": new Date()       
    });
  <% end %>

<% end %>


      <h1>Download Extension</h1>
      <h4>The extension is available for free through the Chrome Web Store</h4>
      </div>
      <div class="download-button" onclick="mixpanel.track('Click Download Extension');">
        <%= link_to "https://chrome.google.com/webstore/detail/timecapsuleio/anlagecokaacgjamflacacngodhlmkom", :target => "top" do %>
          <span class="icon"></span>
          <span class="text-on-button">Download Extension</span>
        <%end%>
      </div>
    </div>
  </div>


    <div class="small-wrapper">
      <div class="share">
        <div class="image"></div>
        <div class="text">
        <h2>You are sending articles to the future! That is pretty darn cool, you should probably tell your friends!</h2>
        <div class="share-box">
          <div class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://timecapsule.io" data-text="I am sending articles to the future, you probably should too!" data-via="zachferland">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          <div class="facebook">
            <div class="fb-like" data-href="http://timecapsule.io" data-width="150" data-layout="button_count" data-show-faces="false" data-send="true"></div>
          </div>
        </div>
        </div>
      </div>
    </div>





  <div class="use">
    <div class="small-wrapper">
      <h1>Simple to Use</h1>
      <div class="step">
        <div class="text">When you find something on the web that you would like to read again or be reminded of in the future, simply click on the Timecapsule.io extension. </div>
        <div class="image pad-left"><%= image_tag "use_one.png" %></div>
      </div>
      <div class="step">
        <div class="image pad-right"><%= image_tag "use_two.png" %></div>
        <div class="text">Select the time from now that you would like to read it again. The options are 1 week, 2 weeks, 3 weeks, 1 month, 3 months, 6 months, 1 year, 2 years or 5 years.</div>
      </div>
      <div class="step">
        <div class="text">Finally when the time you selected rolls around, you will receive an email with the articles and links you saved in the past. It is that simple, enjoy!</div>
        <div class="image pad-left"><%= image_tag "use_three.png" %></div>
      </div>
    </div>
  </div>

  <div class="forms">
    <div class="wrapper">
      
    <div class="email-form">
      <h1>Change Email</h1>
      <h4>Change the email that you want to recieve articles at anytime.</h4>
      <%= form_for @user, :url => registration_path(@user), :html => { :method => :put } do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div id="email-field">
          <%= f.text_field :email %>
        </div>
    
        <div id="email-button">
          <%= f.submit "Update Email" %>
        </div>
      <% end %>
    </div>

    <div class="feedback">
      <h1>Please Send Us Feedback</h1>
      <h4>We want to hear from you! The good, the bad and feature suggestions.</h4>
      <div class="feedback-button" onclick="mixpanel.track('Click Send Feedback');">
        <%= link_to "mailto:feedback@timecapsule.io?Subject=Hello", :target => "top" do %>
          <span class="icon"></span>
          <span class="text-on-button">Send Feedback</span>
        <%end%>
      </div>
    </div>

  </div>


  </div>
  </div>
</div>



<div class="mountain-block">

</div>

</div>

  <div class="footer">
    <div class="wrapper">

        <div class="by">
          <p class="made-by">An app by</p>
          <div class="grey-button">
            <div class="icon"></div>
            <div class="text-on-button"><%= link_to "@zachferland", "https://twitter.com/zachferland", :target => "top"%></div>
          </div>
          <p class="made-in"> in Trento, Italy</p>
          <div class="italian-flag">
            <div class="green part"></div>
            <div class="white part"></div>
            <div class="red part"></div>
          </div>
        </div>

    </div>
  </div>


</div>
</div>

