<script>
	mixpanel.track("Home Page Load");
</script> 

<div class="header">
	<div class="wrapper">
		<div class="logo">
			<%= image_tag "logo.png" %>
		</div>
		<div class="login" onclick="mixpanel.track('Click Login Button');">
			<%= link_to "Login", new_user_session_path %>
		</div>
	</div>
</div>

<div class="cover">
	<div class="wrapper">
		<h1 class="heading">Send Your Favorite Articles to the Future</h1>
		<h2 class="sub-heading">A simple Chrome extension that makes it easy to remember the articles you want to read again.</h2>
		<div class="buttons">
			<div class="learn-more" > Learn More </div>
			<div class="download" onclick='mixpanel.track("Click Signup Button", {"id": "main");'> <%= link_to "Download Chrome Extension", new_user_registration_path %> </div>
		</div>
	</div>
</div>

<div class="product-demo">
	<div class="wrapper">
		<h2>It is as easy as ... <span> </span> </h2>
		<div class="chrome-browser">
			

			<video height="650px" autobuffer="autobuffer" autoplay="autoplay" loop="true">
  				<source src="<%= video_url 'demo_final720.mov' %>" type="video/mp4">
  				<source src="<%= video_url 'demo_final720.mov' %>" type="video/ogg">
				Your browser does not support the video tag.
			</video>
		</div>

	</div>
</div>

<div class="extension-details">
	<div class="wrapper">
		<div class="text">
			<h2>How It Works</h2>
			<p>When you find something on the web that you would like to read again or be reminded of in the future, simply click on the Timecapsule.io extension and select how far in to the future you would like to send it. Finally when that time comes along you will receive an email with the articles and links you saved in the past. </p>
		</div>
		<div class="image">
			<%= image_tag "extension-2.png" %>
		</div>
	</div>
</div>

<div class="call-action">
	<div class="wrapper">
		<div class="center">
			<h2>Do you like what you see?</h2>
			<div class="button" onclick='mixpanel.track("Click Signup Button", {"id": "bottom");'> 
				<%= link_to new_user_registration_path do %>
					<span class="icon"></span>
					<span class="text-on-button">Start using TimeCapsule</span>
				<% end %>
			</div> 
		</div>
	</div>
</div>

<div class="footer">
	<div class="wrapper">
		<div class="by">
			<p class="made-by">An app by</p>
			<div class="grey-button">
				<div class="icon"></div>
				<div class="text-on-button" onclick="mixpanel.track('Click Personal Twitter Button');"><%= link_to "@zachferland", "https://twitter.com/zachferland" %></div>
			</div>
			<p class="made-in"> in Trento, Italy</p>
			<div class="italian-flag">
				<div class="green part"></div>
				<div class="white part"></div>
				<div class="red part"></div>
			</div>
		</div>
	</div>
</div>

