<script>
	mixpanel.track("Home Page Load");
</script> 

<div class="header">
	<div class="wrapper">
		<div class="logo">
			<%= image_tag "logo.png" %>
		</div>
		<div class="login" onclick="mixpanel.track('Click Login Button');">
			<%= link_to "Login", new_user_session_path %>
		</div>
	</div>
</div>

<div class="cover">
	<div class="wrapper">
		<h1 class="heading">Send Your Favorite Articles to the Future</h1>
		<h2 class="sub-heading">A simple chrome extension that makes it easy to remember the articles you want to read again.</h2>
		<div class="buttons">
			<div class="learn-more" onclick="mixpanel.track('Click Learn More Button ');"> <%= link_to "Learn More", new_user_session_path %> </div>
			<div class="download" onclick='mixpanel.track("Click Signup Button", {"id": "main");'> <%= link_to "Download Chrome Extension", new_user_registration_path %> </div>
		</div>
	</div>
</div>

<div class="product-demo">
	<div class="wrapper">
		<h2>It is as easy as ... <span> </span> </h2>
		<div class="chrome-browser">
			<%= video_tag "demo_final.mov", :height => "650px", :controls => false, :autobuffer => "autobuffer", :autoplay => "autoplay", :loop => 		true %>
		</div>

	</div>
</div>

<div class="extension-details">
	<div class="wrapper">
		<div class="text">
			<h2>The Extension</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisin elit. Mauris euismod, sapien ac bibendum mollis, nisi dui tempus turpis, non aliquam augue massa quis nunc. Aenean vitae est erat. Suspendisse cursus eros lacus. </p>
		</div>
		<div class="image">
			<%= image_tag "extension-2.png" %>
		</div>
	</div>
</div>

<div class="call-action">
	<div class="wrapper">
		<div class="center">
			<h2>Do you like what you see?</h2>
			<div class="button" onclick='mixpanel.track("Click Signup Button", {"id": "bottom");'> 
				<%= link_to new_user_registration_path do %>
					<span class="icon"></span>
					<span class="text-on-button">Start using TimeCapsule</span>
				<% end %>
			</div> 
		</div>
	</div>
</div>

<div class="footer">
	<div class="wrapper">
		<div class="by">
			<p class="made-by">An app by</p>
			<div class="grey-button">
				<div class="icon"></div>
				<div class="text-on-button" onclick="mixpanel.track('Click Personal Twitter Button');"><%= link_to "@zachferland", "https://twitter.com/zachferland" %></div>
			</div>
			<p class="made-in"> in Trento, Italy</p>
			<div class="italian-flag">
				<div class="green part"></div>
				<div class="white part"></div>
				<div class="red part"></div>
			</div>
		</div>
	</div>
</div>

